<!DOCTYPE html>
<html>
<head>
  <title>VanTechHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "HOME", root_path, class: "navbar-left" %></li>
        <% if user_signed_in? %>
        <li><%= current_user.full_name %></li>
        <li><%= link_to "Log out", sessions_path, method: :delete, class: "navbar-left" %></li>
        <% else %>
        <li><%= link_to "Sign in", new_session_path, class: "navbar-left" %></li>
        <li><%= link_to "New User", new_user_path, class: "navbar-left" %></li>
        <% end %>
      </ul>
    </nav>

    <div>
      <% if notice %>
      <p class="alert alert-success alert-dismissible"><%= notice%></p>
      <% elsif alert %>
      <p class="alert alert-danger alert-dismissible"><%= alert%></p>
      <% end %>
    </div>
<%= yield %>

</body>
</html>
